@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  background-color: black;
  color: white; /* text color */
}

/* Change header text to imported font */
h2 {
  font-family: sans-serif;
  color: green;
}

h3{
    font-family: cursive;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #000;
}